<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="levion_system" params="name prefix left_arm:=true right_arm:=false hw_plugin:='real'"> <!-- real/mujoco-->

<!-- include macros -->
<xacro:include filename="arms/ak80_8.macros.xacro"/>

<xacro:include filename="arms/levion.property.xacro"/>

<ros2_control name="${name}" type="system">
  <xacro:if value="${hw_plugin == 'real'}">
    <hardware>
      <plugin>cubemars_hardware/CubeMarsSystemHardware</plugin>
      <param name="can_interface">can0</param>
    </hardware>
  </xacro:if>
  <xacro:if value="${hw_plugin == 'mujoco'}">
    <hardware>
      <plugin>mujoco_ros2_control/MujocoSystem</plugin>
    </hardware>
  </xacro:if>
  <xacro:if value="${hw_plugin == 'gazebo'}">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
  </xacro:if>

  <!-- Left arm -->
  <xacro:if value="${left_arm}">

    <xacro:ak80_8_ros2_control
      joint_name="${prefix}left_shoulder_joint"
      can_id="104"
      pos_min="${left_shoulder_lower}"
      pos_max="${left_shoulder_upper}"
      vel_limit="${left_shoulder_velocity_limit}"
      effort_limit="${left_shoulder_effort_limit}"
      enc_off="${left_shoulder_enc_offset}"/>

    <xacro:ak80_8_ros2_control
      joint_name="${prefix}left_elbow_joint"
      can_id="105"
      pos_min="${left_elbow_lower}"
      pos_max="${left_elbow_upper}"
      vel_limit="${left_elbow_velocity_limit}"
      effort_limit="${left_elbow_effort_limit}"
      enc_off="${left_elbow_enc_offset}"/>
  </xacro:if>

  <!-- Right arm -->
  <xacro:if value="${right_arm}">

    <xacro:ak80_8_ros2_control
      joint_name="${prefix}right_shoulder_joint"
      can_id="204"
      pos_min="${right_shoulder_lower}"
      pos_max="${right_shoulder_upper}"
      vel_limit="${right_shoulder_velocity_limit}"
      effort_limit="${right_shoulder_effort_limit}"
      enc_off="${right_shoulder_enc_offset}"/>

    <xacro:ak80_8_ros2_control
      joint_name="${prefix}right_elbow_joint"
      can_id="205"
      pos_min="${right_elbow_lower}"
      pos_max="${right_elbow_upper}"
      vel_limit="${right_elbow_velocity_limit}"
      effort_limit="${right_elbow_effort_limit}"
      enc_off="${right_elbow_enc_offset}"/>
  </xacro:if>

</ros2_control>
</xacro:macro>
</robot>