<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Math -->
  <xacro:property name="PI" value="3.1415926535"/>
  <xacro:property name="PI_2" value="${PI/2}"/>
  <xacro:property name="PI_4" value="${PI/4}"/>
  <xacro:property name="SQRT2" value="1.4142135623"/>
  <xacro:property name="SQRT2_2" value="${SQRT2/2}"/>
  <xacro:property name="SQRT3" value="1.7320508076"/>
  <xacro:property name="SQRT3_2" value="${SQRT3/2}"/>
  <xacro:property name="SAFETY_OFFSET" value="0.01"/>

  <!-- Default -->
  <xacro:property name="default_joint_position_limit" value="${PI/2-SAFETY_OFFSET}"/>
  <xacro:property name="default_joint_velocity_limit" value="10"/>
  <xacro:property name="default_joint_effort_limit" value="10"/>

  <xacro:property name="shoulder_lower" value="-${default_joint_position_limit}"/>
  <xacro:property name="shoulder_upper" value="${default_joint_position_limit}"/>
  <xacro:property name="shoulder_enc_offset" value="0"/>
  <xacro:property name="elbow_lower" value="${-2.615+SAFETY_OFFSET}"/>
  <xacro:property name="elbow_upper" value="${-0.349-SAFETY_OFFSET}"/>
  <xacro:property name="elbow_enc_offset" value="0.349"/>

  <!-- Left joints -->
  <xacro:property name="left_shoulder_lower" value="${shoulder_lower}"/>
  <xacro:property name="left_shoulder_upper" value="${shoulder_upper}"/>
  <xacro:property name="left_shoulder_velocity_limit" value="${default_joint_velocity_limit}"/>
  <xacro:property name="left_shoulder_effort_limit" value="${default_joint_effort_limit}"/>
  <xacro:property name="left_shoulder_enc_offset" value="${shoulder_enc_offset}"/>
  <xacro:property name="left_elbow_lower" value="${elbow_lower}"/>
  <xacro:property name="left_elbow_upper" value="${elbow_upper}"/>
  <xacro:property name="left_elbow_velocity_limit" value="${default_joint_velocity_limit}"/>
  <xacro:property name="left_elbow_effort_limit" value="${default_joint_effort_limit}"/>
  <xacro:property name="left_elbow_enc_offset" value="${elbow_enc_offset}"/>

  <!-- Right joints -->
  <xacro:property name="right_shoulder_lower" value="${-shoulder_upper}"/>
  <xacro:property name="right_shoulder_upper" value="${-shoulder_lower}"/>
  <xacro:property name="right_shoulder_velocity_limit" value="${default_joint_velocity_limit}"/>
  <xacro:property name="right_shoulder_effort_limit" value="${default_joint_effort_limit}"/>
  <xacro:property name="right_shoulder_enc_offset" value="${-shoulder_enc_offset}"/>
  <xacro:property name="right_elbow_lower" value="${-elbow_upper}"/>
  <xacro:property name="right_elbow_upper" value="${-elbow_lower}"/>
  <xacro:property name="right_elbow_velocity_limit" value="${default_joint_velocity_limit}"/>
  <xacro:property name="right_elbow_effort_limit" value="${default_joint_effort_limit}"/>
  <xacro:property name="right_elbow_enc_offset" value="${-elbow_enc_offset}"/>
</robot>