<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pingu">

  <!-- Enable setting arguments from the launch file -->
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="floating_joint" default="false" /> <!-- When experted to simulator -->
  <xacro:arg name="ros2_control" default="true" />    <!-- When controlling hardware -->
  <xacro:arg name="hw_plugin" default="real" />       <!-- Choose hardware interface: real/mujoco -->
  <xacro:arg name="left_arm" default="true" />        <!-- Enable left arm -->
  <xacro:arg name="right_arm" default="true" />       <!-- Enable right arm -->

  <!-- Check if it has arms-->
  <xacro:property name="has_arm" value="false"/>
  <xacro:if value="$(arg left_arm)">
    <xacro:property name="has_arm" value="true"/>
  </xacro:if>
  <xacro:if value="$(arg right_arm)">
    <xacro:property name="has_arm" value="true"/>
  </xacro:if>

  <!-- Import RW description -->
  <xacro:include filename="$(find rw_ros2_control)/urdf/rw.macro.xacro" />
  
  <!-- Import RW ros2 control description -->
  <xacro:if value="$(arg ros2_control)">
    <xacro:include filename="$(find rw_ros2_control)/ros2_control/rw.ros2_control.xacro" />
  </xacro:if>

  <!-- Import levion arm macros and properties -->
  <xacro:include filename="$(find levion_arm_ros2_control)/config/material.macros.xacro"/>
  <xacro:include filename="$(find levion_arm_ros2_control)/config/levion.property.xacro"/>

  <xacro:if value="${has_arm}">
    <!-- Import arm description -->
    <xacro:include filename="$(find levion_arm_ros2_control)/urdf/levion_arm.macros.xacro"/>

    <!-- Import arm ros2 control -->
    <xacro:include filename="$(find levion_arm_ros2_control)/ros2_control/levion_arm.ros2_control.xacro"/>
  
  </xacro:if>

  <!-- Define base_joint -->
  <link name="world"/>
  <xacro:if value="$(arg floating_joint)">
    <joint name="base_joint" type="floating">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="world"/>
      <child link="base_link"/>
    </joint>
  </xacro:if>
  <xacro:unless value="$(arg floating_joint)">
    <joint name="base_joint" type="fixed">
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <parent link="world"/>
      <child link="base_link"/>
    </joint>
  </xacro:unless>


  <!-- Base description -->
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://pingu_description/mesh/base_link.stl" scale="1 1 1"/>
      </geometry>
      <material name="black_transparent">
        <color rgba="0 0 0 0.5"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 ${PI/4}"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://pingu_description/mesh/base_link.stl" scale="1 1 1"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 ${PI/4}"/> <!-- 0 0 0.3276 for box -->
    </collision>
    <inertial>
      <mass value="23.0"/>
      <origin xyz="0 0 0.3276" rpy="0 0 ${PI/4}"/>
      <inertia ixx="0.7" ixy="0" ixz="0" iyy="0.7" iyz="0" izz="0.5"/>
    </inertial>
  </link>

  <!-- RW description -->
  <xacro:rw parent="base_link" prefix="$(arg prefix)">
    <origin xyz="0 0 .2875" rpy="0 0 0" />
  </xacro:rw>

  <!-- Arm description -->
  <xacro:if value="$(arg left_arm)">
    <xacro:levion_arm parent="base_link" prefix="$(arg prefix)" left_right="left">
      <origin xyz="${.26*SQRT2_2} ${.26*SQRT2_2} .3475" rpy="0 0 ${PI/4}" />
    </xacro:levion_arm>
  </xacro:if>

  <xacro:if value="$(arg right_arm)">
    <xacro:levion_arm parent="base_link" prefix="$(arg prefix)" left_right="right">
      <origin xyz="${.26*SQRT2_2} ${-.26*SQRT2_2} .3475" rpy="0 0 ${-PI/4}" />
    </xacro:levion_arm>
  </xacro:if>

  <!-- Ros2 control description -->
  <xacro:if value="$(arg ros2_control)">
    <xacro:rw_system name="RwSystem" prefix="$(arg prefix)" hw_plugin="$(arg hw_plugin)"/>
    <xacro:if value="${has_arm}">
      <xacro:levion_system name="levion_arm"
        prefix="$(arg prefix)"
        left_arm="$(arg left_arm)"
        right_arm="$(arg right_arm)"
        hw_plugin="$(arg hw_plugin)"/>
    </xacro:if>
  </xacro:if>
</robot>
