<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- include macros -->
<xacro:include filename="$(find levion_arm_ros2_control)/config/ak80_8.macros.xacro"/>
<xacro:include filename="$(find levion_arm_ros2_control)/config/ak80_8.property.xacro"/>

<ros2_control name="levion_arm" type="system">
  <hardware>
    <plugin>cubemars_hardware/CubeMarsSystemHardware</plugin>
    <param name="can_interface">can0</param>
  </hardware>

  <xacro:ak80_8_ros2_control
    joint_name="joint1"
    can_id="104"
    mirrored="true"
    pos_min="${shoulder_joint_pos_limit_min}"
    pos_max="${shoulder_joint_pos_limit_max}"
    vel_limit="${default_joint_velocity_limit}"
    effort_limit="${default_joint_effort_limit}"
    enc_off="${shoulder_joint_encoder_offset}"/>

  <xacro:ak80_8_ros2_control
    joint_name="joint2"
    can_id="105"
    mirrored="true"
    pos_min="${elbow_joint_pos_limit_min}"
    pos_max="${elbow_joint_pos_limit_max}"
    vel_limit="${default_joint_velocity_limit}"
    effort_limit="${default_joint_effort_limit}"
    enc_off="${elbow_joint_encoder_offset}"/>
</ros2_control>
</robot>