[Unit]
Description=Setup CAN interface can0
After=network.target

[Service]
ExecStart=/usr/local/bin/can0_setup.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
