<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="ak80_8_ros2_control" params="joint_name can_id mirrored:=false pos_min:=0.349 pos_max:=2.615 vel_limit:=10 effort_limit:=10 enc_off:=0">
    
    <!-- Compute mirrored limits -->
    <xacro:if value="${mirrored}">
      <xacro:property name="effective_pos_min" value="${-pos_max}" />
      <xacro:property name="effective_pos_max" value="${-pos_min}" />
      <xacro:property name="effective_enc_off" value="${-enc_off}" />
    </xacro:if>
    <xacro:unless value="${mirrored}">
      <xacro:property name="effective_pos_min" value="${pos_min}" />
      <xacro:property name="effective_pos_max" value="${pos_max}" />
      <xacro:property name="effective_enc_off" value="${enc_off}" />
    </xacro:unless>

    <joint name="${joint_name}">
      <!-- ros2 control basic setting -->
      <command_interface name="position">
        <param name="min">${effective_pos_min}</param>
        <param name="max">${effective_pos_max}</param>
      </command_interface>

      <command_interface name="velocity">
        <param name="min">-${vel_limit}</param>
        <param name="max">${vel_limit}</param>
      </command_interface>

      <command_interface name="effort">
        <param name="min">-${effort_limit}</param>
        <param name="max">${effort_limit}</param>
      </command_interface>

      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>

      <!-- cubemars hardware settings -->
      <param name="can_id">${can_id}</param>
      <param name="pole_pairs">21</param>
      <param name="gear_ratio">8</param>
      <param name="kt">0.199</param>

      <!-- levion arm settings -->
      <param name="pos_limit_min">${effective_pos_min}</param>
      <param name="pos_limit_max">${effective_pos_max}</param>
      <param name="enc_off">${effective_enc_off}</param>
    </joint>
  </xacro:macro>
</robot>
