<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="2dof_robot">

  <!-- Enable setting arguments from the launch file -->
  <xacro:arg name="prefix" default="" />

  <!-- Import RW description -->
  <xacro:include filename="$(find rw_ros2_control)/urdf/rw.macro.xacro" />
  
  <!-- Import RW ros2 control description -->
  <xacro:include filename="$(find rw_ros2_control)/ros2_control/rw.ros2_control.xacro" />

  <!-- Used for fixing robot -->
  <link name="world"/>

  <!-- RW description -->
  <xacro:rw parent="world" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:rw>

  <!-- RW ros2 control description -->
  <xacro:rw_system name="RwSystem" prefix="$(arg prefix)"/>

</robot>
